html {
    /*****************************************************************************
    * Overall Layout Variables
    */
    --pst-header-height: 5.5rem;
    --pst-header-article-height: calc(var(--pst-header-height) * 2 / 3);
    --pst-sidebar-secondary: 17rem;

    --pst-font-size-h1: 2.5rem;
    --pst-font-size-h2: 2rem;
    --pst-font-size-h3: 1.85rem;
    --pst-font-size-h4: 1.5rem;
    --pst-font-size-h5: 1.25rem;
    --pst-font-size-h6: 1.1rem;

    --pst-table-row-hover: #91a8a8;
  }

/*html[data-theme="light"] {
  --pst-color-primary: #002147;
  --pst-color-secondary:  #15616D;
  --pst-color-accent:  #426A5A;
  --pst-color-info: #789E9E;
  --pst-color-toc-link: #789E9E;
  --pst-table-row-hover: #91a8a8;
  --pst-inline-code:var(--pst-color-accent);
}

html[data-theme="dark"] {
    --pst-color-primary: #002147;
    --pst-color-secondary:  #15616D;
    --pst-color-accent:  #426A5A;
    --pst-color-info: #789E9E;
    --pst-color-toc-link: #789E9E;
    --pst-table-row-hover: #91a8a8;
    --pst-inline-code:var(--pst-color-accent);
}/*